{% extends 'quotes/base.html' %}

{% block content %}
<div class="container">
    <div class="row header-box">
        <div class="col-md-8">
            <h1>
                <a href="/hw_project/quotes/static" style="text-decoration: none">Quotes to Scrape</a>
            </h1>
        </div>
        <div class="col-md-4">
            <p>

                <a href="/login">Login</a>

            </p>
        </div>
    </div>

    <div class="author-details">
        <h3 class="author-title">{{ author.name }}</h3>
        <p><strong>Born:</strong> <span class="author-born-date">{{ author.birth_date }}</span> <span
                class="author-born-location">in {{ author.birth_place }}</span></p>
        <p><strong>Description:</strong></p>
        <div class="author-description">
            {{ author.description }}
        </div>
    </div>

    {% endblock %}