{% extends 'quotes/../quotes/base.html' %}

{% block content %}
    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="/login">Login</a>
                </p>
            </div>
            <h3>Viewing tag: <a href="/tag/{{ tag.id }}/page/1/">{{ tag }}</a></h3>
        </div>
    <div/>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                        <span class="text" itemprop="text">“{{ quote.text }}"</span>
                        <span>by <small class="author" itemprop="author">{{ quote.author }}</small></span>
                    </div>
            </div>
            <div class="col-md-4 tags-box">
                {% for tag in quote.tags.all %}
                    <a href="{% url 'quotes:quote_page' tag.id %}" class="btn btn-secondary">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}